body{
    padding-top: 115px;
}
/*UTILITY*/
.border-radius-20
{
    border-radius: 20px;
}
.bg-gray
{
    background-color: #BEBCBB;
}
.bg-blue
{
    background-color: #161C3B;
}
.max-width-300
{
    max-width: 300px;
}
/*HEADER*/
.chevron-down
{
    max-width: 10px;
    margin: 0 20px 0 10px;
}
/*NAVBAR*/
#navbarNav
{
    justify-content: space-between;
}
/*LOGO SONY*/
#logo-sony{
 
    max-width: 80px;
    margin-left: calc( 100% - 90px );
}
/*LENS*/
.resize-lens img
{
    max-width: 25px;
}
/*JUMBOTRON*/
.jumbotron
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat ;
    padding: 250px 50px 50px 50px;
}
.jumbotron img
{
    max-width: 300px;
    height: auto;
    object-fit: cover;
}
/*BACKGROUND IMAGE JUMBOTRON RETURNAL*/
.jumbotron#jumbo-returnal
{
    background-image: url("../img/jumbo-bg.png"); 
}
/*BACKGROUND IMAGE JUMBOTRON TAKE IT TWO*/
.jumbotron#jumbo-take-it-two
{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/*FOOTER*/
footer
{
    background-color: #00439B;
    padding-top: 50px;
}
footer img
{
    max-width: 150px;
}
footer a
{
    text-decoration: none;
    color: white;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 992px)
{
    #jumbo-take-it-two img
    {
        max-width: 350px;
        height: auto;
        object-fit: cover;
    }
}