/*HEADER*/
#header .nav-item img
{
    max-width: 10px;
    margin: 0 20px 0 10px;
}
#header .nav-item .nav-link
{
    color: #010101;
}
/*space buteen on ul nav link*/
#navbarNav
{
    justify-content: space-between;
}
#header .nav-item #lens
{
    max-width: 25px;
    margin-right:0;
  
}
#header{
    width: 100%;
    background-color: black;
}
#logo{
 
    max-width: 80px;
    margin-left: calc( 100% - 90px );
   
}
/*MAIN*/
main{

    margin-top: 115px;
}
/*JUMBOTRON RETURNAL*/
#jumbo-returnal
{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat ;
    height: 600px;
    padding: 50px;
}

#jumbo-returnal img,#jumbo-take-it-two img
{
    max-width: 200px;
    height: auto;
    object-fit: cover;
}
/*6 GAMES PS5*/
#games-ps5 img,#news-games img
{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/*THIS IS PS5*/
#this-is-ps5
{
    padding: 100px 0 0 0;
}
#this-is-ps5 p,#console-ps5 p,#news-games p
{
    font-size: 20px;
}
/*CONSOLE PS5*/
#console-ps5 img,#controllers img
{
    max-width: 100%;
}
/*JUMBOTRON TAKE IT TWO*/
#jumbo-take-it-two
{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat ;
    height: 600px;
    padding: 50px;
}
/*NEWS GAMES*/

/*MEDIA QUERIES*/

@media screen and (max-width: 992px)
{
    #jumbo-take-it-two img
    {
        max-width: 350px;
        height: auto;
        object-fit: cover;
    }
}